:root {
    --background-color: #333;
    --background-color-secondary: #2d2d2d;
    --background-color-tertiary: #1f1f1f;

    --border-color: #444;
    --blockquote-border-color: #555;
    --contrast-color: #fff;
    --contrast-color-secondary: #a1a9b2;

    --link-color: #0366d6;
    --mark-color: #fff69f;

    --scrollbar-background-color: #f1f1f1;
    --scrollbar-background-hover-color: #e6e6e6;
    --scrollbar-thumb-background-color: #ccc;
    --scrollbar-thumb-background-hover-color: #b3b3b3;
}