:root {
    --width: 25vw;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--width);
    border-radius: 1em;

    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    padding: 1em;
    margin: 1.25em;

    overflow-y: auto;
}

.logo {
    display: flex;
    margin: 0 auto;
    width: 50%;

}

.logo > img {
    width: 50%;
    align-self: center;
}

#content-container {
    padding-left: var(--width);
}

.sidebar-element-children {
    padding-left: 1em;
}

.sidebar-element-link {
    display: block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #333;
}

.sidebar-element-link:hover {
    background-color: #eaecef;
    border-radius: 0.25em;
    text-decoration: none;
}

.sidebar-element-link:visited {
    color: #333;
}

.sidebar-element-link-1 {
    font-weight: bold;
    font-size: 1.2em;
}

.sidebar-element-link-2 {
    font-size: 1.1em;
}

.sidebar-element-link-3 {
    font-size: 1em;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }

    #content-container {
        padding-left: 0;
    }
}
